<!DOCTYPE html>
<html>
<head>
  <title>Computer equipment Site</title>
</head>
<body>

<h1 style="color: #B00100; margin: 0 auto">Computer equipment</h1> <br/>
<p>On this site you can purchase computer equipment. For example, computerts, PC mouse, keyboard, headphones etc.</p>

</body>
</html>

<%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary'  %>