<h1 style="color: #B00100; margin: 0 auto"> Categories </h1> <br/>
<% @categories.each do |category| %>
  <ul>
    <h2><td> <%= link_to category.title , category %> </td></h2>
    <h2><td> <%= link_to "New", new_category_path(category) %>
      <%= link_to "Update", edit_category_path(category) %>
      <%= link_to "Delete" %></td></h2>
    <%#= link_to category.title , category %>
    <%#= link_to category.title , categories_products_path %>
    <%#= link_to category.title , "/categories/#{}" %>
  </ul>


<% end %>