<h2 style="color: #B00100; margin: 0 auto"> Products </h2> <br/>


<% @category.products.each do |product|  %>
    <ul>
      <li> <%= product.title %> </li>
      <li> <%= product.description %> </li>
      <li> <%= product.price %> </li>
    </ul>
<% end %>


<% if can? :update, @category %>
  <%= link_to "Edit", category_path(@category) %>
<% end %>